<!-- ссылка на шаблон -->
{% extends "base.html" %}

<!-- Разметка основной части -->
{% block main %}

<div class="_content"> 
    <!-- элемент формы ввода информации -->
    <form method="post">
        <p>
            <label>Web-site:</label>
            <input type="text" name="site">
        </p>
        <p>
            <label>Password:</label>
            <input type="text" name="pwd">
        </p>
        <p>
            <label>Numper of char:</label>
            <input type="text" name="num" value="-">
        </p>
        <p>
            <input type="submit">
        </p>

        <!-- вывод результата -->
        <div>
            {% if message %}
                <h3>{{ message }}</h3>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}